<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ibm.coding.dao.UserMapper">

    <resultMap id="resultMap" type="com.ibm.coding.dto.UserDto">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getUser" resultMap="resultMap">
        SELECT id,username,password
        FROM user
        WHERE username = #{username}
    </select>
    <insert id="createUser" parameterType="com.ibm.coding.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username,password)
        VALUES (#{username},#{password})
    </insert>
</mapper>